trigger:
  branches:
    include: [ main ]
  tags:
    include: [ '*' ]

pool:
  vmImage: 'ubuntu-latest'

variables:
  - ${{ if startsWith(variables['Build.SourceBranch'], 'refs/tags/') }}:
      - group: 'aws-production'
      - name: SAM_ENV
        value: 'prod'
  - ${{ else }}:
      - group: 'aws-development'
      - name: SAM_ENV
        value: 'dev'

resources:
  repositories:
    - repository: 'pipelines'
      type: 'github'
      name: 'rios0rios0/pipelines'
      endpoint: 'YOUR_GITHUB_SERVICE_CONNECTION'  # Configure this in Azure DevOps

stages:
  # Deploy using SAM
  - template: 'azure-devops/golang/go-lambda-sam.yaml@pipelines'
    parameters:
      S3_BUCKET: 'my-sam-deployments'
      AWS_REGION: 'us-east-1'
      AWS_SERVICE_CONNECTION: 'AWS-Service-Connection'  # Configure this in Azure DevOps
      SAM_CONFIG_ENV: $(SAM_ENV)
