inputs:
  github_token:
    type: 'string'
    required: true
  tags:
    type: 'string'
    required: true

runs:
  using: 'composite'
  steps:
    - name: 'Login to Registry'
      uses: 'docker/login-action@v3'
      with:
        registry: 'ghcr.io'
        username: '${{ github.actor }}'
        password: '${{ inputs.github_token }}'

    - name: 'Build and Push'
      uses: 'docker/build-push-action@v6'
      with:
        file: '.ci/stages/40-delivery/app.Dockerfile'
        context: '.'
        push: true
        tags: '${{ inputs.tags }}'
