# see the bottom of the file for more information¹
# the parent workflow is responsible for setting up the call events²
on:
  workflow_call:
    inputs:
      binary_name:
        type: 'string'
        required: true
        description: 'Binary name to be used as default source'
      tag_prefixes:
        type: 'string'
        required: false
        default: '[""]'
        description: 'JSON array of tag prefixes (e.g., ''["", "v"]''). Use ''[""]'' for no prefix.'

jobs:
  go:
    uses: 'rios0rios0/pipelines/.github/workflows/go.yaml@main'
    with:
      tag_prefixes: "${{ inputs.tag_prefixes }}"

  # fourth stage
  delivery-binary:
    name: 'delivery > binary'
    runs-on: 'ubuntu-latest'
    steps:
      - uses: 'rios0rios0/pipelines/github/global/stages/40-delivery/binary@main'
        with:
          binary_name: "${{ inputs.binary_name || github.event.repository.name }}"
    needs: [ 'go' ]
    if: "!failure() && startsWith(github.ref, 'refs/tags/')"


# 1 - this file MUST be inside ".github/workflows" because of GitHub Actions limitations
# 2 - the recommended events to trigger this workflow and permissions are:
#   on:
#     push:
#       branches:
#         - 'main'
#       tags:
#         - '*'
#     pull_request:
#       branches:
#         - 'main'
#     workflow_dispatch:
#
#   permissions:
#     checks: 'write' # code_check-style_golangci_lint
#     contents: 'write' # delivery-release
#
# workflow_dispatch inputs can only be defined in the workflow that is directly triggered
#
