on:
  workflow_call:
    inputs:
      binary_name:
        type: 'string'
        required: true
        description: 'Binary name to be used as default source'

jobs:
  go:
    uses: 'rios0rios0/pipelines/.github/workflows/go.yaml@main'

  # fourth stage
  delivery-binary:
    name: 'delivery > binary'
    runs-on: 'ubuntu-latest'
    steps:
      - uses: 'rios0rios0/pipelines/github/global/stages/40-delivery/binary@main'
        with:
          binary_name: "${{ inputs.binary_name || github.event.repository.name }}"
    needs: [ 'go' ]
    if: "!failure() && startsWith(github.ref, 'refs/tags/')"
