on:
  workflow_call:

jobs:
  python-build:
    if: ${{ github.event_name == 'push' && (github.ref == 'refs/heads/main' || startsWith(github.ref, 'refs/tags/')) }}
    runs-on: 'ubuntu-latest'
    outputs:
      wheel-path: ${{ steps.build-wheel.outputs.wheel-path }}
    steps:
      - name: 'Checkout code'
        uses: 'actions/checkout@v6'

      - name: 'Setup Python 3.10'
        uses: 'actions/setup-python@v6'
        with:
          python-version: '3.10'

      - name: Install build tools
        run: |
          python -m pip install --upgrade pip
          pip install build

      - name: Build wheel
        id: build-wheel
        run: |
          python -m build

      - run: ls -la dist

      - name: "Upload 'dist' folder"
        uses: 'actions/upload-artifact@v6'
        with:
          name: 'dist'
          path: 'dist/'

  # fourth stage
  delivery-docker:
    name: 'delivery > docker'
    runs-on: 'ubuntu-latest'
    needs: [ 'python-build' ]
    steps:
      - name: 'Checkout code'
        uses: 'actions/checkout@v6'

      - name: "Download 'dist' folder"
        uses: 'actions/download-artifact@v7'
        with:
          name: 'dist'
          path: 'dist'

      - run: ls -la dist

      - uses: 'rios0rios0/pipelines/github/global/stages/40-delivery/docker@fix/github-docker'
        with:
            github_token: ${{ secrets.GITHUB_TOKEN }}
            tags: |
              ghcr.io/${{ github.repository }}:latest
              ghcr.io/${{ github.repository }}:${{ github.ref_type == 'tag' && github.ref_name || 'latest' }}
